:root{
    --main-font: 'Indie Flower', cursive;
    --black: #000;
    --white: #FFF;
    --first: #000000;
    --two: #121346;
    --three: #000269;
    --orange: #F6B400;
}

html{
    font-size: 62.5%;
}*,*:before,:after{
    box-sizing: border-box;
}

body{
    font-family: var(--main-font);
    background: linear-gradient(217deg, var(--black), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, var(--three), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, var(--black), rgba(0,0,255,0) 70.71%);
}

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.sombra{
    background: linear-gradient(217deg, var(--black), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, var(--three), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, var(--orange), rgba(0,0,255,0) 30.71%);
    border-radius: 10rem;
}

h1{
    color: var(--white);
    text-align: center;
    font-size: 3rem;
}

h2{
    color: var(--white);
    text-align: center;
    font-size: 2.5rem;
}

h3{
    color: var(--white);
    text-align: center;
    font-size: 2rem;
}

p{
    color: var(--white)
}

.nav-container{
    background: linear-gradient(217deg, var(--three), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, var(--black), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, var(--orange), rgba(0,0,255,0) 70.71%);
    padding: 3rem;
    border-radius: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.nav-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .nav-content{
        flex-direction: row;
    }
}

.nav-link{
    color: var(--white);
    margin-right: 3rem;
    margin-left: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
}

.nav-link--activo,.nav-link:hover{
    color: var(--orange);
}

.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

@media (min-width: 768px) {
  .hero-content{
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

.hero-content p{
    text-align: center;
    font-size: 2.5rem;
    margin-right: 1rem;
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 5rem;
}

.hero-img img{
    border-radius: 5rem;
    width: 50%;
}

.skills-content{
    margin-left: 1rem;
    width: 25%;
    padding: 1rem;
    background: linear-gradient(217deg, var(--orange), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, var(--two), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, var(--black), rgba(0,0,255,0) 70.71%);
    border-radius: 5rem;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
  .main-content{
    flex-direction: row;
  }
}

.main-skills{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-bottom: 5rem;
}

.footer{
    margin-top: 20rem;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer h3{
    color: var(--white);
}
